body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
.first-class{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    padding: 0 170px;
    /* background css */
    background: linear-gradient(rgba(0, 0, 0, 0.305), 
    rgba(0, 0, 0, 0.481)),url(./image/banner.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.first-class h1{
    color: white;
    font-weight: 500;
    font-size: 50px;
    text-transform: uppercase;
}
.first-class p{
    color: white;
    text-align: center;
    line-height: 25px;
    font-weight: 300;
}
/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    
}
.menu ul{
    list-style: none;
    display: flex;
}
.menu ul li{
    padding-right: 20px;
}
.menu ul li a{
    text-decoration: none;
    color: black;
}





/* service css */
.main-service{
    padding: 150px;
}

.main-service h1{
    text-align: center;
    font-size: 45px;
    font-weight: 500;

}
.main-service h1 span{
    color: rgb(55, 118, 255);
}
.main-service p{
    text-align: center;
    font-weight: 300;
    line-height: 25px;
}
/* grid css */
.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }

    .service{
        padding: 50px;
        text-align: center;

    }
    .service h3{
        text-align: center;
        font-size: 26px;
        font-weight: 400;
    }
   .service p{
    font-size: 14px;
    font-weight: 300;
    text-align: center;
   }
   .service img{
    width: 50px;
    height: 50px;
   padding-bottom: 20px;
   }
/* footer */


.footer{
    text-align: center;
    background: rgb(90, 90, 90);
    padding: 40px;
}
.footer p{
    color: white;
}

