body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
.first-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
   padding: 0 100px;
   /* css for background image */
   background: linear-gradient(rgba(0, 0, 0, 0.274),rgba(0, 0, 0, 0.581)),url(./image/banner.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.first-section h1{
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 50px;
}
.first-section h1 span{
    color: rgb(255, 75, 132);
}
.first-section p{
    color: white;
    text-align:center;
    line-height: 25px;
}